<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="untitled16" transaction-type="RESOURCE_LOCAL">

        <class>com.company.untitled16.entity.Notes</class>
        <class>com.company.untitled16.entity.News</class>
        <class>com.company.untitled16.entity.SedDocumentAttachment</class>
        <class>com.company.untitled16.entity.SedDocumentRouteTask</class>
        <class>com.company.untitled16.entity.SedDocument</class>
        <class>com.company.untitled16.entity.SedRouteStage</class>
        <class>com.company.untitled16.entity.SedBusinessRoute</class>
        <class>com.company.untitled16.entity.SedDocumentType</class>
    </persistence-unit>
</persistence>
